@import './../../commonStyles.scss';

.partsTableContainer {
    @extend .tableContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partsTableContainerWithFilter {
    @extend .tableContainerWithFilter;
}
